{% extends "layout.html" %}
{% block title %}Update Status Buku{% endblock %}
{% block content %}
<h2>Update Status Buku: "{{ book.title }}"</h2>
<form method="post">
    <label>Status:</label><br>
    <select name="status">
        <option value="available" {% if book.status == 'available' %}selected{% endif %}>Tersedia</option>
        <option value="borrowed" {% if book.status == 'borrowed' %}selected{% endif %}>Dipinjam</option>
    </select><br><br>
    <input type="submit" value="Update">
</form>
<a href="/books">Kembali ke Daftar Buku</a>
{% endblock %}
